{
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-env",
          {"targets": {
             "esmodules": true
            }
          }
        ],
        "next/babel"
      ],
      "plugins": [["styled-components", { "ssr": true }]]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [["styled-components", { "ssr": true }]]
    },
    "test": {
      "presets": ["next/babel"]
    }
  }
}
